DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres26
DB_DATABASE=hrms_db
NODE_ENV=development
JWT_SECRET=K9qfJx4v1Qe7Z2tN8wR3uB5sD1mH0cV4pT6yL9gF2aE7kQ3nS0bJ8vR5tW2xC1
JWT_EXPIRES_IN=7d
PORT=3000